.App {
  margin: 10px;
  display: flex;
  border: 1px gray solid;
  max-width: 600px;
  flex-direction: column;
}
.App__header {
  display: flex;
  padding: 10px;
}
  .Main-Header {
    color: gray;
  }


.App__body {
  
}
.App__buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}